@import "../../styles/variables.scss";
.input {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin-right: 42px;

  &:focus {
    color: #495057;
    background-color: #fff;
    border-color: $message-bg-color;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(244, 165, 64, 0.25);
  }
}
