@import "../../styles/variables.scss";
.button {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  &-primary {
    color: $message-text-color;
    background-color: $message-bg-color;
    border-color: $message-bg-color;

    &:focus {
      outline: none;
    }

    &:hover {
      background-color: #e89d3c;
    }
  }

  &-cancel {
    color: #5f5f5f;
    font-size: 12px;
    font-style: italic;
  }
}
