@import "../../../styles/variables.scss";

.message {
  padding: 12px;
  margin: 4px 0 54px;
  border-radius: 50px;
  color: $message-text-color;
  background-color: $message-bg-color;
  width: 50%;
  line-height: 1.5;
  display: flex;
  align-items: center;
  position: relative;
  min-height: 40px;
  box-shadow: 1px 2px 4px;
  cursor: pointer;

  &.editing {
    background-color: $message-text-color;
  }

  &-text {
    margin-left: 120px;
    width: 230px;
  }

  &-time {
    position: absolute;
    bottom: 6px;
    font-size: 12px;
    font-style: italic;
    color: $message-text-color;
    right: 30px;
  }

  &.right {
    float: right;
    .message-text {
      margin-left: 24px;
    }
    .avatar {
      left: unset;
      right: 36px;
    }
  }

  &.like::after {
    background-image: url("../../../assets/heart.svg");
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 12px;
    right: 12px;
  }

  &.liked::after {
    background-image: url("../../../assets/heart_filled.svg");
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 12px;
    right: 12px;
  }
}
