@import "../../../styles/variables.scss";

.divider {
  text-align: center;
  margin-bottom: 42px;
  position: relative;
  position: sticky;
  top: 12px;
  z-index: 99;
  opacity: 0.6;
  clear: both;

  &-text {
    padding: 1px 24px;
    background-color: $message-bg-color;
    border-radius: 50px;
    font-size: 12px;
    color: $message-text-color;
    font-style: italic;
  }
}
