@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap");
@import "./variables.scss";
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  user-select: none;
}

#root,
.fill {
  width: 100%;
  height: 100vh;
  background-color: $main-bg-color;
}

.mr-1 {
  margin-right: 1em;
}

.ml-1 {
  margin-left: 1em;
}

.mt-3 {
  margin-top: 3em;
}

.button-group {
  display: flex;
  align-items: center;
}
