@import "../../styles/variables.scss";

.ld-circle {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid $message-bg-color;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
  margin: 0 auto;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
