.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-name {
    font-weight: bold;
    color: #565656;
  }

  &-details {
    font-style: italic;
    color: #505050;
  }
}
